@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Edu+NSW+ACT+Foundation&family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #465b52;
    font-weight: bold;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 5px 5px #1a1a1a3d;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.2s;
}

button.white {
    font-size: 16px;
    font-weight: 600;
    padding: 13px 25px;
    color: rgb(120, 119, 194);
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 5px 5px #1a1a1a3d;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transform: 0.2s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px, 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover ,
#navbar li a.active {
    font-size: 20px;
    text-shadow: #1a1a1ab7;
    color: rgb(58, 58, 155);
    transform: scale(3);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#banner {
    background-image: url("img/banner.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: cover;
}

#banner h4 {
    padding-bottom: 15px;
}
#banner h2 {
    color: #e07644;
    
}
#banner button {
    background-image: url("img/button-back.png");
    background-size: 180px;
    background-position: center;
    background-color: transparent;
    color: #1a0938;
    border: 0;
    padding: 14px 80px 14px 65px;
    font-family: 'Kaushan Script' ,sans-serif;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 20px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box img {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

#feature .fe-box {
    width: 220px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.055);
    border: 1px solid #cce7d0;
    border-radius: 30px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(55, 134, 130, 0.247);
}

#feature .fe-box h6 {
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 10px;
    color: #21726d;
    background-color: #ebe8bc;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: medium;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #bce8eb;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #c1bceb;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #ebbce5;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.7s ease-in-out;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 30px;
}

#product1 .procontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(207, 37, 37, 0.1);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #43437ad7;
    font-size: 16px;
    font-weight: 700;
}

#product1 .pro .des h5 {
    color: #161414c7;
    padding-top: 7px;
    font-size: 20px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: gold;
    padding-bottom: 8px;
}

#product1 .pro .des h4 {
    font-size: 20px;
    color: rgb(31, 161, 31);
    font-weight: 700;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

#promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 400px;
    background-image: url('img/promo-banner.jpg');
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#promotion h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#promotion h2 {
    font-family: 'Dancing Script', cursive;
    padding: 10px 0;
}

#promotion h2 span{
    font-family: 'Dancing Script', cursive;
    color: red;
}

#promotion button:hover {
    background-color: #088178;
    color: white;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/sm-banner1.jpg');
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner h4 {
    color: #ce872b;
    font-size: 30px;
    font-weight: strong;
}

#sm-banner h2 {
    color: #1f5025;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
}

#sm-banner span {
    color: #1c251a;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: blueviolet;
    border: 1px solid blueviolet;
    color: #000;
    transition: 0.55s ease-out;
}